<div class= "index-title"><h1>About</h1></div>

<p>This is rails app under production which will allow users to create a updated Pevsner-style guide for architecture in Glasgow. Users will be able to access the reviews from a GPS-linked mobile device and bring up information on any building in their vicinity.</p>

