<h1>About</h1>

<p>This is rails app under production which will one day allow users to enter reviews of buildings in Glasgow and place these on a map of the city</p>

<%= link_to 'Home', root_path %>