<div class="centre jumbotron">
  <h1>Glasgow Pevsner</h1>
  <h1>Wiki</h1><!-- 
  <p><a class="btn btn-primary btn-lg" href="#" id="signup" role="button">Sign Up</a></p> -->
  <%= link_to 'Sign Up', '#', class: "btn btn-primary btn-lg", role: "button" %>
</div>
