<h1>Google Maps Tut</h1>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJryCiAeJDqlNs74Xmvx5gYqyE8TcQnKk async defer></script>
<div id="map-container">
  <div id="map-canvas"></div>
</div>