$navbar-default-bg: #4f000e;
$navbar-inverse-ff: 'Raleway', sans-serif;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
		font-family: 'Raleway', sans-serif;
		float: left;
		font-size: 1.7em;
		color: ffff;
		letter-spacing: -0.5px;
		font-weight: bold;
}

#bs-example-navbar-collapse-1{

	font-family: 'Raleway', sans-serif;
}

.centre {
		text-align: center;
}

.jumbotron {
	background-image: asset-url("architect2.jpg");
	background-size: cover;
	background-position: 75% 1%;
	height: 550px;
	
}

.jumbotron h1 {
	font-family: 'Raleway', sans-serif;
	color:#ffff;
	text-align: center;
	margin-bottom: 30px;

}

footer {
	font-family: 'Raleway', sans-serif;
	color: white;
	margin-top: 10px;
}

/*footer ul {
float: right;
color: white;
list-style: none;
}


footer small {
float: left;
color: white;

}

footer ul li{
float:left;
margin-left: 15px;

}*/