<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
<footer class = "footer"
	<small> Copyright &copy; Eddie Harvey 
	<nav>
	<!-- <ul>
		<li><%= link_to 'About', pages_about_path %></li>
	</ul> -->
	</small>
</footer>
 </div>
</nav>